<h2>Palabras Duplicadas</h2>
<form action="/removeduplicatewords" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="palabras"/><br/>
    </div>
    <div><input type="submit" value="Post"/></div>
</form>
