<h2>File Type</h2>
<form action="/detectfiletype" method="post">
    <div>
        <label>URLS:</label>
        <input type="url" name="url"/><br/>
    </div>
    <div><input type="submit" value="Post"/></div>
</form>
